DATABASE_URL=postgresql://admin:password@host.com:5432/db

ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001

TWILIO_ACCOUNT_ID=XXXXXXXXXXXXXXXXXXXX
TWILIO_AUTH_TOKEN=XXXXXXXXXXXXXXXXXXXX
TWILIO_PHONE=+15555555555

APPLE_SHARED_SECRET=XXXXXXXXXXXXXXXXXXXX
