DATABASE_URL=postgresql://admin:password@host.com:5432/db

TWILIO_ACCOUNT_ID=XXXXXXXXXXXXXXXXXXXX
TWILIO_AUTH_TOKEN=XXXXXXXXXXXXXXXXXXXX
TWILIO_PHONE=+15555555555
TEMP_PHONE=+15555555555
SUPABASE_URL=XXXXXXXXXXXXXXXXXXXX
SUPABASE_KEY=XXXXXXXXXXXXXXXXXXXX
SUPABASE_JWT_SECRET=XXXXXXXXXXXXXXXXXXXX
